// Elements
// Styling for bare HTML elements (like H1, A, etc.).
// These come with default styling from the browser so we can redefine them here.

html {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-size: $font-size-base * 0.8;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

p, span {
  font-size: $font-size-normal;
  font-weight: lighter;
}

code, kbd, pre {
  font-size: $font-size-normal;
  font-family: $font-family-monospace;
}

code {
  color: $code-color;
  background-color: $code-bg;
}

kbd {
  color: $kbd-color;
  background-color: $kbd-bg;
}

pre {
  color: $pre-color;
  background-color: $pre-bg;
  border: 1px solid $pre-border-color;
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}

small {
  font-size: $font-size-small;
}

h1 {
  font-size: $font-size-h1;
  letter-spacing: $letter-spacing-h1;
}

h2 {
  font-size: $font-size-h2;
  letter-spacing: $letter-spacing-h2;
}

h3 {
  font-size: $font-size-h3;
  letter-spacing: $letter-spacing-h3;
}

h4 {
  font-size: $font-size-h4;
  letter-spacing: $letter-spacing-h4;
}

h5 {
  font-size: $font-size-h5;
  letter-spacing: $letter-spacing-h5;
}

h6 {
  font-size: $font-size-h6;
  letter-spacing: $letter-spacing-h6;
}
