// Objects
// Class-based selectors which define undecorated design patterns,
// for example media object known from OOCSS

.section {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
}

.flex {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--ai-center {
    align-items: center;
  }

  &--jc-center {
    justify-content: center;
  }

  &--jc-space-between {
    justify-content: space-between;
  }

  &--jc-space-around {
    justify-content: space-around;
  }
}

[class*="flex--col-"] {
  flex-direction: column;
}

@media (min-width: $screen-sm) {
  .flex {
    &--col-4 {
      @include flex-columns(4, 1.5);
    }

    &--col-2 {
      @include flex-columns(2, 4);
    }
  }
}

.marketing-blocks {
  margin-top: 9rem
}

.marketing-section {
  margin-top: 12rem;
  margin-bottom: 12rem;
  position: relative;
}

.build-with-us-section {
  background-color: $purple-darkest;
  color: $white;
  position: relative;
  padding-top: 10rem;

  &__iphone {
    max-height: 468px;
    width: auto;
  }
}


