// Objects
// Class-based selectors which define undecorated design patterns,
// for example media object known from OOCSS

.section {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
}

[class*="flex--col-"] {
  flex-direction: column;

  > * {
    &:not(:first-child) {
      margin-top: 4rem;
    }

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
}

.flex {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--ai-center {
    align-items: center;
  }

  &--jc-center {
    justify-content: center;
  }

  &--jc-space-between {
    justify-content: space-between;
  }

  &--jc-space-around {
    justify-content: space-around;
  }

  @media (min-width: $screen-sm) {
    &--col-4 {
      @include flex-columns(4, 4);
    }

    &--col-2 {
      @include flex-columns(2, 4);
    }
  }
}

.marketing-blocks {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.marketing-section {
  margin-top: 10rem;
  margin-bottom: 10rem;
  position: relative;

  &--flipped-sm {
    @media (max-width: $screen-sm) {
      flex-direction: column-reverse;

      > * {
        &:first-child {
          margin-top: 4rem;
        }

        &:last-child {
          margin-bottom: 4rem;
        }
      }
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}

.build-with-us-section {
  background-color: $purple-darkest;
  color: $white;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;

  &__iphone {
    max-width: 100%;
    height: auto;
  }
}


