// Components
// Specific UI components. This is where majority of our work takes place
// and our UI components are often composed of Objects and Components

.header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(90deg, #472B9B 0%, #24164F 100%);
  overflow: hidden;

  &__logo {
    width: 24rem;
    margin-bottom: 1rem;
  }

  &__parallax-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__hero {
    height: inherit;
    text-align: center;
    color: $white;
    margin-bottom: auto;
    margin-top: auto;
    z-index: 1;
  }

  &__caret-down {
    margin-bottom: 4rem;
    z-index: 1;
  }
}

.marketing-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__image {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    background-color: $purple-darker;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;

    &--research {
      background-size: 28%;
    }

    @media (min-width: $screen-md-min) {
      height: 18rem;
      width: 18rem;
    }

    @media (min-width: $screen-sm-min) {
      height: 16rem;
      width: 16rem;
    }
  }
}

.blurb {
  border: 2px solid $purple-light;
  padding: 3.5rem;

  &__title {
    color: $purple-light;
  }
}

.slant {
  position: absolute;
  height: 0;
  z-index: 2;

  &--left {
    left: 0;
    bottom: 0;
    border-left: 49.5vw solid $white;
    border-top: 7rem solid transparent;
    width: 49.5vw;
  }

  &--right {
    right: 0;
    bottom: 0;
    border-right: 49.5vw solid $white;
    border-top: 7rem solid transparent;
    width: 49.5vw;
  }

  &--full {
    bottom: -7rem;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7rem 49.5vw 0 49.5vw;
    border-color: $white transparent transparent transparent;
  }

  &--full-top {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7rem 49.5vw 0 49.5vw;
    border-color: $white transparent transparent transparent;
  }

  &--full-dark {
    border-color: $purple-darkest transparent transparent transparent;
  }

  &--dark {
    border-color: $purple-darkest;
  }
}

.btn {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: lighter;
  white-space: nowrap;

  &:hover, & {
    text-decoration: none;
  }

  &--outline-light {
    color: $white;
    border: 0.2rem solid $white;

    &:hover {
      background-color: $white;
      color: $turqoise-darker;
      border-color: transparent;
    }
  }

  &--primary {
    background-color: $turqoise-light;
    color: $turqoise-darker;
    border: 0.2rem solid $turqoise-light;

    &:hover {
      border: 0.2rem solid darken($turqoise-light, 15%);
      background-color: darken($turqoise-light, 15%);
    }
  }
}

.footer {
  padding-top: 20rem;
  padding-bottom: 12rem;
  background-image: linear-gradient(89deg, #472B9B 0%, #24164F 100%);
  position: relative;
  overflow: hidden;
}
