// Components
// Specific UI components. This is where majority of our work takes place
// and our UI components are often composed of Objects and Components

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(90deg, #472B9B 0%, #24164F 100%);
  overflow: hidden;

  &__logo {
    width: 24rem;
    margin-bottom: 1rem;
  }

  &__parallax-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__hero {
    height: inherit;
    text-align: center;
    color: $white;
    margin-bottom: auto;
    margin-top: auto;
    z-index: 1;
  }

  &__caret-down {
    margin-bottom: 4rem;
    z-index: 1;
  }

  &__slant-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 0;
    border-left: 50vw solid #fff;
    border-top: 7rem solid transparent;
    z-index: 2;
  }

  &__slant-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 0;
    border-right: 50vw solid #fff;
    border-top: 7rem solid transparent;
    z-index: 2;
  }
}
